<form action='/search' method="POST"  class="search-form" onsubmit="handleSubmit(event)">
        <input 
            name="query"
            type="text" 
            class="search-input" 
            placeholder="Search..."
            required
        >
        <button type="submit" class="search-button">Search</button>
    </form>
